
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  display: block;
  width: 100%;
}
.red{
  color: red;
}
a:hover,
a:active,
a:link,
a:visited{
  text-decoration: none;
}
.body_bg {
  background-color: #222D32;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

.mt_150 {
  margin-top: 150px;
}

/* 左侧侧边栏布局 */
.lt_aside{
  width: 180px;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #222D32;
  z-index: 1;
  transition: all 1s;
}
.lt_aside.hidemenu{
  left: -180px;

}
.lt_aside .brand{
  height: 50px;
  background-color: #367FA9;
}
.lt_aside a{
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  
}
.lt_aside .user{
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img{
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin: 0 auto;
}
.lt_aside .user p{
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
}
/* .lt_aside .nav span{
  font-size: 18px;
} */
.lt_aside .nav a{
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  border-radius: 3px solid transparent;
}
.lt_aside .nav a.active {
  background-color: #1D1F21;
  border-left: 3px solid #069;
}
.lt_aside .nav a i{
  margin-right: 4px;
} 
.lt_aside .nav .child{
  display: none;
}
.lt_aside .nav .child a{
  padding-left: 19px;
}
.lt_main{
  padding-left: 180px;
  padding-top: 50px;
  height: 1000px;
  /* background-color: #f99; */
  transition: all 1s;
}
.lt_main.hidemenu{
  padding-left: 0px;
}
.lt_main .lt_topbar{
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3C8DBC;
  padding-left: 180px;
  transition: all 1s;
  z-index:999;
}
.lt_main .lt_topbar.hidemenu{
  padding-left: 0px;
}
.lt_main .lt_topbar a{
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}


.lt_content{
  padding: 10px;
}


.myModal  p{
  color: red;
}

/* 需要准备两个具备宽高的容器 */
.lt_content .echarts_left,
.lt_content .echarts_right {
  width: 48%;
  height: 400px;
  background-color: skyblue;
}